<nav>
	<a href = "/HomePage">Home</a> | 
	<a href = "/MoviesList">Movies</a> | 
	<a href = "/Search">Search</a> | 
	<a href = "/ShoppingCart">Shopping Cart</a> | 
	<a href = "/MyAccount">Account</a> | 
	<a href = "/Login">Login</a> | 
	<a href = "/Register">Register</a> | 
	<a href = "/Admin">Admin</a>
</nav>