<%- include('layout.ejs') %> <%- include('partials/navbar.ejs') %>
<p>This is what is known as the shopping cart page (Hello there!)</p>

<p>If customer's cart is empty:</p>
<p>Your cart is empty</p>

<p>If customer's cart isn't empty:</p>
<p>Press to hire</p>
<button>Go to checkout</button>
