<%- include('layout.ejs') %> <%- include('partials/navbar.ejs') %>
<p>This is what is known as the shopping cart page (Hello there!)</p>

<p>If customer's cart is empty:</p>
<p>Your cart is empty</p>

<p>If customer's cart isn't empty:</p>
<table>
  <thead>
    <tr>
      <th>Remove</th>
      <th>Poster</th>
      <th>Title(s)</th>
      <th>Price</th>
      <th>Type (hire e.g.)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Trash can icon</td>
      <td>Poster</td>
      <td><a href="/movie-test">Arrival</a></td>
      <td>Price</td>
      <td>Rent</td>
    </tr>
  </tbody>
</table>
<p>Press to hire</p>
<button>Proceed to checkout</button>
