<%- include('layout.ejs') %> <%- include('partials/navbar'+ type) %>

<head>
  <title>Shopping Cart</title>
</head>

<body>
  <h1>Shopping Cart</h1>

  <div style="display:block" id="empty">
    <p>Your cart is empty</p>
    <a href="/movieslist"> <button>Search for movies</button></a>
  </div>


</body>
